@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /* height: 100vh; */
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Indie Flower', cursive;
    background:url(./img/depositphotos_397939966-stock-photo-grunge-old-page-notebook-background.jpg);
     background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;overflow: hidden;
    
    
    
}

.container{
    border: 3px solid brown;
    border-radius: 25px;
    margin-top: 3vh;
    height: 85vh;
    width: 30vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    overflow: auto;
    min-width: 26rem;
    box-shadow: 10px 10px 5px rgb(71, 86, 91) ;
    

}
.li-task{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid pink; */
    width: 24rem;
    align-content: flex-start;
    margin: 1rem;
    padding: 1rem;

}
.p-task{
    text-decoration: line-through;
    
}

.todo{
    /* border: 2px solid red; */
    padding: 0.4rem;
    font-size: 1.4rem;
    
}
.todo:hover{
    cursor: pointer;
    transform: scale(1.);
    transition: 0.7s;
}

#input{
    background-color:#F8E7D1 ;
    color: black;
    width: 10rem;
    height: 3rem;
    border:none;
    outline: none;
    
}


.inputs{
    display: flex;
    align-items: center;
    justify-content:center;
    border-bottom: 2px solid #8F6F44;
    padding: 1.5rem;
    width: 14rem;
    height: 4.7rem;
    margin-top: 1rem;
    border: 2px solid rgb(19, 18, 18);
    border-radius: 15px;
    gap: 1rem;
    box-shadow: 10px 10px 5px rgb(71, 86, 91) ;

}
h1{
    align-self: center;
    padding: 0;
    margin-top: 5rem;
}

.task{
    gap: 1rem;
}

.fa-check{
    color: green;
    
}

.fa-check:hover{
    transform: scale(1.5);
    transition: 0.7s;
    cursor: pointer;
}


.fa-trash-can{
    color: rgb(164, 9, 9);
}

.fa-trash-can:hover{
    transform: scale(1.5);
    transition: 0.7s;
    cursor: pointer;
}

.add-task{
    color:brown;
}

.add-task:hover{
    transform: scale(1.5);
    transition: 0.7s;
    cursor: pointer;
}



