*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(./img/pexels-photo-531844.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.container{
    position: absolute;
    width: 60%;
    
    overflow: hidden;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 2.5rem;
    border: 2px solid red;

   
    
}
.li-task{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid pink;
}
.p-task{
    text-decoration: line-through;
}

.todo{
    border: 2px solid red;
}